
#background {
    background-position: top 10px;
    color: blue;
    /* background-size: auto; */
}

#blog_title {
  background: url("images/pink_sunset");
  font-size: 14em;
  color: white;
}

#name {
  font-size: 8em;
  line-height: 1.5em;
}




/* #colorstrip{
  width: 100%; height: 20px;
  border-style: solid;
  border-color: blue;
  background-color: white;
} */

/*
.blue-strip {
    background-color: blue;
    margin-left: -1000px;
    margin-right: -1000px;
    padding: 300px;
    color: white;
  }
  */

  
  /* #left-column {
    float: left;
    font-size: 20px;
    margin-left: 1000px;
  }
  #right-column {
    float: right;
    margin-right: 1000px;
  } */
