
#background {
    background-color: blue;
    background-repeat: no-repeat;
    background-position: top;
    margin-right: 200px;
    background-attachment: fixed;
}

/* #colorstrip{
  width: 100%; height: 20px;
  border-style: solid;
  border-color: blue;
  background-color: white;
} */

/*
.blue-strip {
    background-color: blue;
    margin-left: -1000px;
    margin-right: -1000px;
    padding: 300px;
    color: white;
  }
  */

  
  /* #left-column {
    float: left;
    font-size: 20px;
    margin-left: 1000px;
  }
  #right-column {
    float: right;
    margin-right: 1000px;
  } */
